
<h1>
  Images
</h1>

<% for photo in @photo %>
    <% flag =0 %>
    <%= image_tag(photo.file_name,alt:'no file')%>
    <p>
      photo created at: <%= photo.created_at%>
    </p>
    <% for comment in @comment %>
        <table>
          <% if (comment.photo_id.to_i.eql?photo.id) %>
              <% flag =1 %>
              <tr>
                <td>
                  Comments given by: <%= link_to comment.user.first_name, controller:'photo', action: 'index', id: comment.user.id%>
                </td>
              </tr>
              <tr>
                <td>
                  Comments : <%= comment.comment_text%>
                </td>
              </tr>
              <tr>
                <td>
                  Commented on: <%= comment.created_at%>
                </td>
              </tr>
              <br>
          <% end %>
        </table>
    <% end %>

    <% if flag == 0 %>
        No comments found!!
    <% end %>
    <br>
<% end %>
