<br>
<br>
<br>
<br>
<table style="width:50%"
       border="1px solid black"
       border-width="thin"
       align="center"
       text-align="left"
       id="tb1">
  <tr>
    <th>User Id</th>
    <th>Firstname</th>
    <th>Lastname</th>
  </tr>
  <% for user in @User %>
      <tr>
        <td align="center">
          <%= user.id%>
        </td>
        <td align="center">
          <%= link_to user.first_name, controller:'photo', action: 'index', id: user.id %>
        </td>
        <td align="center">
          <%= user.last_name%>
        </td>
      </tr>
  <% end %>
</table>